.banner {
	background: 00001D;
}
.banner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}
.jumbotron > * {
	margin: 0 0.5em 0em 0.5em;
}
.jumbotron h1 {
	font-size: 3em;
}
.jumbotron p {
	font-size: 1em;
}